/* Coolors Exported Palette - coolors.co/24a584-fb8b24-d90368-820263-c66f9b */

/* HSL */
$color1: hsla(165%, 64%, 39%, 1);
$color2: hsla(29%, 96%, 56%, 1);
$color3: hsla(332%, 97%, 43%, 1);
$color4: hsla(315%, 97%, 26%, 1);
$color5: hsla(330%, 43%, 61%, 1);

/* RGB */
$color1: rgba(36, 165, 132, 1);
$color2: rgba(251, 139, 36, 1);
$color3: rgba(217, 3, 104, 1);
$color4: rgba(130, 2, 99, 1);
$color5: rgba(198, 111, 155, 1);