<div class="container">
<!-- Begin Container -->

<div class="row">
  <div class="col-sm-6 box">some text</div>
  <div class="col-sm-6 box">MORE TEXT</div>
  <div class="col-sm-6 box"></div>
  <div class="col-sm-6 box"></div>
  <div class="col-sm-6 box"></div>
  <div class="col-sm-6 box"></div>
</div>

<!-- End Container -->
</div>

{{outlet}}
