<div class="container">
<!-- Begin Container -->

<div class="row">

  {{#each model as |place|}}

    <div class="col-sm-6 box place-item">{{place-item place=place}}</div>

  {{/each}}

</div>

<!-- End Container -->
</div>
